.homepage-form {
  text-align: center;
  width: 57%;
  display: inline-flex;
  padding: 0 25px;
  .select2-container {
    flex-grow: 2;
  }
  .select2-selection--single {
    height: 40px !important;
    & > * {
      line-height: 40px !important;
      height: 40px !important;
    }
  }
}
