<div class="container mt-5">
    <% @bookings.each do |booking| %>
    <div class="row">
      <div class="col-6">
        <%= booking.date %>
      </div>
    </div>
      <% end %>
      <div class="col-6"></div>

  </div>

