<div id="animated-search">
  <form action="plants#index" autocomplete="on">
      <input id="search" name="query" type="text" placeholder="🌱🌸 Find a plant 🥰"><input id="search_submit" name="search_submit" value="search" type="submit">
  </form>
</div>

  

