<div class="container">
  <div class="plants">
    <% @plants.each do |plant| %>    
      <div class="plant">
        <%= cl_image_tag plant.photo.key, height: 400, width: 400, crop: :fill %>
          <div class="name">
            <%= link_to plant.name, plant_path(plant) %>
          </div>  
          <%= plant.description %>
      </div>
    <% end %>
  </div>
</div>
  