
<h2><strong>Name</strong></h2>
<%= @plant.name %>
<h5><strong>Description</strong></h5>
<%= @plant.description %>
<h5>Booking(s)</h5>

<%= link_to "Edit", edit_plant_path(@plant) %>
<%= link_to "Back", plants_path, class: "btn btn-primary" %>


