.plant-card {
    padding: 20px;
    width: 70%;
    min-width: fit-content;
    margin: 10px auto;
    justify-content: center;
    border-radius: 2px;
    box-shadow: 0px 0px 5px gray;
    background-color: white;
    text-decoration: none;

}

ul {
  list-style-type: none;
  padding-left: 0;
}
