// .container {
//   display: grid;
// }

.container {
  padding: 15px;
}

.plants{
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
}

.plant {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.name {
    font-size: small;
    color: green($color: #4c6663);
    padding: 5px 10px;
}

.price {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  padding-bottom: 10px;
}

p {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  transition: 0.5s;
  color: white;
}

.btn {
  border: 0 solid white;
  border-radius: 5px;
}

.map-container {
  margin-top: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
