// .container {
//   display: grid;
// }

.index-plant-card {
border-radius: 10px;
background-color: white;
  .plant-image {
    max-width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding-top: 5px;;
    img {
      object-fit: contain;
    }
  }
  a {
  text-decoration: none;
  color: black;
  }

  a:hover {
    text-decoration: none;
    transition: 0.5s;
    color: white;
  }
}

.plant {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.name {
  font-size: small;
  color: green($color: #4c6663);
  padding: 5px 10px;
}

.price {
  text-align: right;
  padding-right: 20px;
  padding-bottom: 10px;
}

.btn {
  border: 0 solid white;
  border-radius: 5px;
}

.map-container {
  margin-top: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
