.navbar-lewagon {
  justify-content: space-between;
  background:linear-gradient(to right, rgba(183, 241, 145, 0.2), rgba(60, 255, 0, 0.342));
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
