// .navbar {
//   position: fixed;
//   top: 0;
//   width:100%;
// }
.body {
  padding-top: 60px;
}

.navbar-lewagon {
  justify-content: space-between;
  background:linear-gradient(to right, #E7F3E0, #A7CAB4);
  width:100%;
  position:fixed;
  top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
